@import "bootstrap";

.message{
  border-style: solid;
  border-width: 1px;
  margin-top: 60px;
  padding: 10px;
}

.submit{
  height: 40px;
}

.message img {
  width: 40px;
  float: left;
  margin-right: 5px;
  border-style: solid;
  border-width: thin;
  border-radius: 25px;
}

.message-date{
  color: #666666;
  position: relative;
  top: 10px;
  left: 5px;
}

textarea {
  width: 100%;
  height: 100px;
}
